.todo {
  padding: 0.25rem;
}

.todo div {
  display: inline-block;
  font-size: 1.4rem;
}

.todo .delete {
  float: right;
  padding: 5px;
}

.todo a {
  margin-left: 10px;
}

.todo .complete{
  text-decoration: line-through;
}

a.disabled {
 color: #eee;
 pointer-events: none;
}
